html, body, #map {
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
  margin: 0 0 40px 10px;
}

.bottom-right {
  bottom: 0;
  right: 0;
  margin: 0 10px 40px 0;
}

.form-input,
.form-label {
  margin-bottom: 6px;
}

.form-label label {
  font-weight: bold;
}

.form-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.form-menu:first-child {
  border-top: 0;
}

.form-menu:last-child {
  border-bottom: 0;
}

.form-menu a {
  color: #333;
}

.form-input-buttons {
  margin-top: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

input[type="number"] {
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 52px; /* unify input width; varies by default given two-digit max (15) for cellSize, three-digit max (100) for distDecay */
}

input:disabled+label {
  color: #ccc;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✔';
  padding-left: 5px;
}

.input-button {
  font-size: 12px;
}

.input-button:first-child {
  margin-right: 5px;
}

.layers-image {
  /* https://unpkg.com/browse/leaflet@1.5.1/dist/images/ */
  background-image: url(../img/layers-2x.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  height: 30px;
  width: 30px;
}

.layers-menu {
  display: none;
}

.layers-toggle {
  right: 10px;
  top: 120px;
}

.legend-break {
  line-height: 20px;
}

.legend-shape {
  display: inline-block;
  margin-right: 5px;
}

.circle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.fill {
  height: 18px;
  width: 18px;
}

.subtitle {
  margin-top: 2px;
}

.mapboxgl-popup-content {
  background: #333;
  color: #efefef;
  font: 14px -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  min-width: 130px;
  padding: 0;
  text-align: center;
}

.mapboxgl-popup-content p {
  margin: 5px 0 0;
}

.mapboxgl-popup-content .subtitle {
  margin-top: 2px;
}

.mapboxgl-popup-content .popup-menu p:first-child {
  margin: 0;
}

.mapboxgl-popup-content .popup-menu {
  padding: 10px;
}

.mapboxgl-popup-content hr {
  margin: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #333;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #333;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #333;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #333;
}

.map-overlay {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.small {
  font-size: 12px;
}

.title h1 {
  font-size: 16px;
  margin: 0 0 6px;
}

.title p {
  margin: 0;
}

.toggle label {
  margin-left: 5px;
  vertical-align: middle;
}

.v-middle {
  vertical-align: middle;
}

.zoom-to-control {
  background-image: url(../img/wi.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
